<!DOCTYPE html>
<htm lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  
  <!-- jQuery and Bootstrap Bundle (includes Popper) -->
  <script  src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  <!-- CSS -->
  <style>
    .wrap {
      width: 900px;
      margin: auto;
      text-align: center;
      color: black;
      background-position: center;
      background-size: cover;
      padding-top: 40px;
    }
    .divbox {
      background-color: rgb(174, 0, 255);
      width: 500px;
      margin: auto;
      margin-bottom: 50px;
    }
    #card-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 10px;
    }
    #button_control{
      margin-top: 10px;
    }
    #form_control{
      /* display: none; */
    }
  </style>

  <!-- javascript -->
  <script>
    $(document).ready(function(){
      readApi();
    });
    function readApi() {
      // fetch('/memo')
      // .then((res) => console.log(res.json()))
      // .catch(res => alert(res))
      $.ajax({
        type: "GET",
        url: "/memo",
        data: {},
        success: function (response) {
        if (response["result"] == "success") {
          cardMaking(response);
        }},
        error: function (response){
          alert("죄송합니다 조회기능에 에러가 있습니다. markchck@gmail.com으로 문의주시면 즉시 피드백 드리겠습니다.")
          console.log(response)
        }
      })
    };
    function cardMaking(res){
      responsed_result = res.dbresult
      for (i=0; i < responsed_result.length; i++){
        let htmlCard = `
        <div class="card" style="width: 18rem; margin: auto;">
          <div class="card-body">
            <h5 class="card-title" id="card-title-${i}">${responsed_result[i].title}</h5>
            <p class="card-text" id="card-text-${i}">${responsed_result[i].comment}</p>
          </div>
          <div>
            <button onclick="cardChanging(${i}, responsed_result)">수정</button>
            <button onclick="cardDelete(${i}, responsed_result)">삭제</button>
          </div>
        </div>`
        $("#card-list").append(htmlCard);
      }
    };
    function cardChanging(id, responsed_result){
      let written_title
      let written_comment
      for (i=0; i< $("#card-title-"+id).length; i++){
        written_title = $("#card-title-"+id)[i].innerHTML
        written_comment = $("#card-text-"+id)[i].innerHTML
        $(".input-title")[i].value = written_title
        $(".input-text")[i].value= written_comment
        // $("#submit_button").contents().unwrap().wrap(`<button id="submit_button" type="submit" onclick="submit(${i},${(responsed_result[i])})">워메</button>`)
        $("#submit_button")[i].innerHTML = "수정하기"
        // console.log($("#submit_button")[i].innerHTML)
      }
      $.ajax({
        type: "POST",
        url: "/update",
        data:{
          "title" : responsed_result[id].title,
          "comment" : responsed_result[id].comment,
          "new_title" : written_title,
          "new_comment" : written_comment
        },
        success: function(responsed_result){
          console.log(responsed_result)
          window.location.reload();
        },error: function(res){
          alert("죄송합니다. 수정 기능에 에러가 있습니다. markchck@gmail.com으로 문의주시면 즉시 피드백 드리겠습니다.")
          consol.log(res)
        }
      })
    };
    function cardDelete(id, responsed_result){
      $.ajax({
        type: "POST",
        url: "/delete",
        data: {
          "title" : responsed_result[id].title,
          "comment" : responsed_result[id].comment
        },
        success: function(responsed_result){
          window.location.reload();
        },
        error: function(res){
          alert("죄송합니다. 삭제기능에 에러가 있습니다. markchck@gmail.com으로 문의주시면 즉시 피드백 드리겠습니다.")
          consol.log(res)
        }
      })
    }
    function submit(){
      $.ajax({
        type: "POST",
        url: "/memo",
        data: {
          "input-title" : $(".input-title").val(),
          "input-text" : $(".input-text").val()
        },
        success: function(res){
          window.location.reload();
        },
        error: function(res){
          alert("죄송합니다. 제출기능에 에러가 있습니다. markchck@gmail.com으로 문의주시면 즉시 피드백 드리겠습니다.")
          consol.log(res)
        }
      })
    }
  </script>
  <title>나홀로 메모장 ver2.0 </title>
</head>
<body>
  <div class="wrap">
    <div class="divbox">
      <div class="title"> <h1>나홀로 링크 메모장 ver2.0</h1></div>
      <!-- <button id="button_control" onclick="button_control()">포스팅 박스 열기</button> <br><br> -->
      <div id="form_control">
        <input type="text" class="input-title" placeholder="제목을 입력하세요"></input> <br>
        <textarea class="input-text" placeholder="내용을 입력하세요"></textarea> <br>
        <button id="submit_button" type="submit" onclick="submit()">저장하기</button>
      </div> 
    </div>
    <div id="card-list">
    </div>
  </div>
</body>
</htm